body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #fff;
}

.space{
    /* width: calc(var(--size) * ((var(--cell-size) + var(--cell-gap))) + var(--cell-gap)); */
    width: 200px;
}

#board {
    width: calc(var(--size) * ((var(--cell-size) + var(--cell-gap))) + var(--cell-size));
    height: calc(var(--size) * ((var(--cell-size) + var(--cell-gap))) + (4 * var(--cell-gap)) +5px);

    background-color: #cdc1b5;
    border: 6px solid white;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;

}

.tile {
    width: var(--cell-size);
    height: var(--cell-size);
    border: var(--cell-gap) solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: seashell;
}


/* colored tiles */

.color2 {
    background-color: lightcyan;
    color: #727371;
}

.color4 {
    background-color: lightblue;
    color: #727371;
}

.color8 {
    background-color: #f4b17a;
    color: white;
}

.color16{
    background-color: #f59575;
    color: white;
}

.color32{
    background-color: darkkhaki;
    color: white;
}

.color64{
    background-color: #f65d3b;
    color: white;
}

.color128{
    background-color: #edce71;
    color: white;
}

.color256{
    background-color: #edcc63;
    color: white;
}

.color512{
    background-color: #edc651;
    color: white;
}

.color1024{
    background-color: #eec744;
    color: white;
}

.color2048{
    background-color: #ecc230;
    color: white;
}

.color4096 {
    background-color: #fe3d3d;
    color: white;
}

.color8192 {
    background-color: #ff2020;
    color: white;
}